@use 'variables' as *;

// intro

.intro header{
      color: transparent;
      overflow: hidden;
      grid-column: 1/3;
      grid-row: 1/2;
      background-image: url(/images/stone-header.png);
      background-repeat: no-repeat;
      background-size:contain;
      background-position: center;
  }

  .intro header:hover { 
    margin-right:-350px;
    margin-bottom:-50px;
    margin-top: 20px;
    text-justify: auto;
    color: black;
    background-image: none;
  }

.intro .preamble{
    overflow: hidden;
    grid-column: 2/4;
      grid-row: 2/3;
    background-image: url(/images/stone-preamble.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center;
    color: transparent;
}


.intro .preamble:hover {
    margin-left:-150px; 
    margin-bottom:-100px;
    margin-right: -200px;
    margin-top: -100px;
    text-justify: auto;
    color: black;
    background-image: none;
  }
  

.intro .summary{
     overflow: hidden;
     grid-column: 3/5;
     grid-row: 1/2;
      background-image: url(/images/stone-summary.png);
      background-repeat: no-repeat;
      background-size:contain;
      background-position: center;
      color: transparent;
}

  .intro .summary a{
    color: transparent;
}


  .intro .summary:hover {
    margin-right:-100px;
    margin-left: -220px;
    margin-top: 20px;
    text-align: center;
    text-justify: auto;
    color: black;
    background-image: none;
  }

  .intro .summary:hover a{

    color: black;

  }

// zen supporting


#zen-supporting .explanation {
    color: transparent;
      overflow: hidden;
      grid-column: 1/2;
      grid-row: 1/2;
      background-image: url(/images/stone-explanation.png);
      background-repeat: no-repeat;
      background-size:contain;
      background-position: center;

  }
  
  #zen-supporting .participation {
    color: transparent;
      overflow: hidden;
      grid-column: 2/3;
      grid-row: 1/2;
      background-image: url(/images/stone-participation.png);
      background-repeat: no-repeat;
      background-size:contain;
      background-position: center;
  }
  
  #zen-supporting .benefits {
    color: transparent;
      overflow: hidden;
      grid-column: 1/2;
      grid-row: 2/3;
      background-image: url(/images/stone-benefits.png);
      background-repeat: no-repeat;
      background-size:contain;
      background-position: center;
  }
  
  #zen-supporting .requirements {
    color: transparent;
      overflow: hidden;
      grid-column: 2/3;
      grid-row: 2/3;
      background-image: url(/images/stone-requirements.png);
      background-repeat: no-repeat;
      background-size:contain;
      background-position: center;
  }
  
  

  #zen-supporting>* a{
    color: transparent;
  }
  
  #zen-supporting .explanation:hover {
    margin-right:-300px;
    margin-bottom: -200px;
    text-justify: auto;
    color: black;
    background-image: none;
    overflow-y: scroll;
    overflow-x: hidden;
  }
      
#zen-supporting .participation:hover {
  margin-left:-300px;
  margin-bottom: -150px;
  text-justify: auto;
  color: black;
  background-image: none;
}
      
#zen-supporting>*:hover a {
  color: blue;
}
      
#zen-supporting .benefits:hover {
  margin-right:-300px;
  margin-top: -50px;
  text-justify: auto;
  color: black;
  background-image: none;
}  
#zen-supporting .requirements:hover {
  margin-left:-250px;
  margin-top: -250px;
  text-justify: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  color: black;
  background-image: none;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

// sidebar

.sidebar .wrapper{
  grid-row: 2/5;
  grid-column: 2/5;
  margin-top: 40px;
  color: transparent;
      overflow: hidden;
      background-image: url(/images/stone-styles.png);
      background-repeat: no-repeat;
      background-size:contain;
      background-position: center;
}

.sidebar>*:hover {
  z-index:2;
  background: $grey-sidebar;
      border: 2px solid #0580d5;
      border-radius: 50px;
  text-justify: auto;
  color: $text-light;
  background-image: none;
  overflow-y: scroll;
  margin: -50px;
  li {
    margin-top: 10px;
  }
  h3 {
    font-family:$fonts-headline;
    margin: 15px;
  }
}

.sidebar>*:hover a{
  color: $text-light;
    text-decoration: none;
    border-bottom: 1px solid $text-light;
    transition: font-size 0.2s ease-in-out;
}

.sidebar>*:hover a:hover{
  color: $accent2;
  border-color: $accent2;
  font-size: 1.15em;
}