@use 'variables' as *;
@use 'atoms';

.intro {
  margin-left: 10px;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  text-overflow: hidden;
  word-wrap:break-word;
  place-content: center;
  background-color: transparent;
  grid-column: 1/2;
  grid-row:1/2;
}

.sidebar {
justify-content: center;
text-align: center;
width: 500px;
height: 350px;
display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(5, 1fr);
overflow: hidden;
word-wrap:break-word;
place-content: center;
background-color: transparent;
grid-column: 4/5;
grid-row:1/2;
background-color: transparent;
color: transparent;
}

.sidebar a {
  color: transparent;
}

.sidebar>* {
  box-sizing: border-box;
  transition: .3s;
  text-align: center;
  
}

.intro>* {
    box-sizing: border-box;
    transition: .3s;
    text-align: center;
}

.intro> *:hover {
    z-index:2;
    background:
      linear-gradient(rgba(40, 180, 240, .3),rgba(40, 180, 240, .3)),
      #fff;
      border: 2px solid #0580d5;
      border-radius: 50px;
}

#zen-supporting {
    margin-right: 20px;
    width: 500px;
    height: 500px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 10px;
  text-overflow: hidden;
  word-wrap:break-word;
  place-content: center;
  background-color: transparent;
  grid-column: 4/5;
  grid-row:2/3;
  }

  #zen-supporting> *:hover {
    z-index:2;
    background:
      linear-gradient(rgba(40, 180, 240, .3),rgba(40, 180, 240, .3)),
      #fff;
      border: 2px solid #0580d5;
      border-radius: 50px;
  }
  
  #zen-supporting>* {
  
    box-sizing: border-box;
    transition: .3s;
    text-align: center;
    
  }

  // Part of sidebar
  .wrapper div:not(:last-child) {
    border-bottom: 2px solid $accent2;
    padding-bottom: 20px;
  }