@use "variables" as *; //this puts all the variables in the global namespace.
@use 'atoms';
@use 'molecules';

.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-image: url(/images/rock-garden-bg.jpg);
  background-repeat: no-repeat;
  background-size:1500px;
  background-position: center;
  border-radius: 50px;
  max-width: 1500px;
  width: 90%;
  align-self: center;
  margin: auto;
}
  
// Sidebar
.sidebar {
  background: $grey-sidebar;
  color: $text-light;
  width: 400px;
  padding: 10px;
  h3 {
    font-family:$fonts-headline;
    margin: 15px;
  }
  li {
    margin-top: 10px;
  }
  a {
    color: $text-light;
    text-decoration: none;
    border-bottom: 1px solid $text-light;
    transition: font-size 0.2s ease-in-out;
  }
  a:hover {
    border-color: $accent2;
    font-size: 1.15em;
  }
}