.page-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-image: url(/images/rock-garden-bg.jpg);
  background-repeat: no-repeat;
  background-size:1500px;
  background-position: center;
  border-radius: 50px;
  max-width: 1500px;
  width: 90%;
  align-self: center;
  margin: auto;
}
  


