@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&family=Sue+Ellen+Francisco&display=swap");
body {
  font-family: "Rajdhani", verdana, arial, sans-serif;
  font-size: 120%;
  color: #3C312F;
  background-color: #EFEEED;
  margin: 0;
  padding: 1em;
  background-image: url(../images/rock-pile-bg.jpg);
  background-repeat: repeat;
  background-size: auto;
  background-position: center;
}

h1 {
  font-family: "Sue Ellen Francisco", "arial narrow", Arial, Verdana, sans-serif;
  font-size: 200%;
}

h3 {
  font-family: "Sue Ellen Francisco", "arial narrow", Arial, Verdana, sans-serif;
  font-size: 165%;
}

.intro header {
  color: transparent;
  overflow: hidden;
  grid-column: 1/3;
  grid-row: 1/2;
  background-image: url(../images/stone-header.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.intro header:hover {
  margin-right: -350px;
  margin-bottom: -50px;
  margin-top: 20px;
  text-justify: auto;
  color: black;
  background-image: none;
  background-color: rgba(51, 55, 69, 0.9);
  color: #DDDED8;
}

.intro .preamble {
  overflow: hidden;
  grid-column: 2/4;
  grid-row: 2/3;
  background-image: url(../images/stone-preamble.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: transparent;
}

.intro .preamble:hover {
  margin-left: -50%;
  margin-bottom: -100px;
  margin-right: -200px;
  margin-top: -100px;
  text-justify: auto;
  color: black;
  background-image: none;
  background-color: rgba(51, 55, 69, 0.9);
  color: #DDDED8;
}

.intro .summary {
  overflow: hidden;
  grid-column: 3/5;
  grid-row: 1/2;
  background-image: url(../images/stone-summary.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: transparent;
}

.intro .summary a {
  color: transparent;
}

.intro .summary:hover {
  margin-right: -100px;
  margin-left: -220px;
  margin-top: 20px;
  text-align: center;
  text-justify: auto;
  color: black;
  background-image: none;
  background-color: rgba(51, 55, 69, 0.9);
  color: #DDDED8;
}

.intro .summary:hover a {
  color: #DDDED8;
}

.intro .summary:hover a:hover {
  color: #74A84F;
  font-size: 1.15em;
}

#zen-supporting .explanation {
  color: transparent;
  overflow: hidden;
  grid-column: 1/2;
  grid-row: 1/2;
  background-image: url(../images/stone-explanation.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#zen-supporting .participation {
  color: transparent;
  overflow: hidden;
  grid-column: 2/3;
  grid-row: 1/2;
  background-image: url(../images/stone-participation.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#zen-supporting .benefits {
  color: transparent;
  overflow: hidden;
  grid-column: 1/2;
  grid-row: 2/3;
  background-image: url(../images/stone-benefits.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#zen-supporting .requirements {
  color: transparent;
  overflow: hidden;
  grid-column: 2/3;
  grid-row: 2/3;
  background-image: url(../images/stone-requirements.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

#zen-supporting > * a {
  color: transparent;
}

#zen-supporting .explanation:hover {
  margin-right: -300px;
  margin-bottom: -200px;
  text-justify: auto;
  color: black;
  background-image: none;
  overflow-y: scroll;
  overflow-x: hidden;
  background-color: rgba(51, 55, 69, 0.9);
  color: #DDDED8;
}

#zen-supporting .participation:hover {
  margin-left: -300px;
  margin-bottom: -150px;
  text-justify: auto;
  color: black;
  background-image: none;
  background-color: rgba(51, 55, 69, 0.9);
  color: #DDDED8;
}

#zen-supporting > *:hover a {
  color: #DDDED8;
  transition: font-size 0.2s ease-in-out;
}

#zen-supporting > *:hover a:hover {
  color: #74A84F;
  font-size: 1.15em;
}

#zen-supporting .benefits:hover {
  margin-right: -300px;
  margin-top: -50px;
  text-justify: auto;
  color: black;
  background-image: none;
  background-color: rgba(51, 55, 69, 0.9);
  color: #DDDED8;
}

#zen-supporting .requirements:hover {
  margin-left: -250px;
  margin-top: -250px;
  text-justify: auto;
  overflow-y: scroll;
  overflow-x: hidden;
  color: black;
  background-image: none;
  background-color: rgba(51, 55, 69, 0.9);
  color: #DDDED8;
}

p {
  padding-left: 10px;
  padding-right: 10px;
}

.sidebar .wrapper {
  grid-row: 2/5;
  grid-column: 2/5;
  margin-top: 40px;
  color: transparent;
  overflow: hidden;
  background-image: url(../images/stone-styles.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.sidebar > *:hover {
  z-index: 2;
  background: rgba(51, 55, 69, 0.9);
  border: 2px solid #0580d5;
  border-radius: 50px;
  text-justify: auto;
  color: #DDDED8;
  background-image: none;
  overflow-y: scroll;
  margin: -50px;
}
.sidebar > *:hover li {
  margin-top: 10px;
}
.sidebar > *:hover h3 {
  font-family: "Sue Ellen Francisco", "arial narrow", Arial, Verdana, sans-serif;
  margin: 15px;
}

.sidebar > *:hover a {
  color: #DDDED8;
  text-decoration: none;
  border-bottom: 1px solid #DDDED8;
  transition: font-size 0.2s ease-in-out;
}

.sidebar > *:hover a:hover {
  color: #74A84F;
  border-color: #74A84F;
  font-size: 1.15em;
}

.intro {
  margin-left: 10px;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  text-overflow: hidden;
  word-wrap: break-word;
  place-content: center;
  background-color: transparent;
  grid-column: 1/2;
  grid-row: 1/2;
}

.sidebar {
  justify-content: center;
  text-align: center;
  width: 500px;
  height: 350px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  overflow: hidden;
  word-wrap: break-word;

  background-color: transparent;
  grid-column: 4/5;
  grid-row: 1/2;
  background-color: transparent;
  color: transparent;
}

.sidebar a {
  color: transparent;
}

.sidebar > * {
  box-sizing: border-box;
  transition: 0.3s;
  text-align: center;
}

.intro > * {
  box-sizing: border-box;
  transition: 0.3s;
  text-align: center;
}

.intro > *:hover {
  z-index: 2;
  background: linear-gradient(rgba(40, 180, 240, 0.3), rgba(40, 180, 240, 0.3)), #fff;
  border: 2px solid #0580d5;
  border-radius: 50px;
}

#zen-supporting {
  margin-right: 20px;
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
  text-overflow: hidden;
  word-wrap: break-word;
  place-content: center;
  background-color: transparent;
  grid-column: 4/5;
  grid-row: 2/3;
}

#zen-supporting > *:hover {
  z-index: 2;
  background: linear-gradient(rgba(40, 180, 240, 0.3), rgba(40, 180, 240, 0.3)), #fff;
  border: 2px solid #0580d5;
  border-radius: 50px;
}

#zen-supporting > * {
  box-sizing: border-box;
  transition: 0.3s;
  text-align: center;
}

.wrapper div:not(:last-child) {
  border-bottom: 2px solid #74A84F;
  padding-bottom: 20px;
}

.page-wrapper {
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-template-rows: 1fr 1fr;
  background-image: url(../images/rock-garden-bg.jpg);
  background-repeat: no-repeat;
  background-size: 1500px;
  background-position: center;
  border-radius: 50px;
  max-width: 1500px;
  width: 90%;
  align-self: center;
  margin: auto;
}

<<<<<<< HEAD
@media only screen and (max-width: 60em) {
  body {
    background-image: url(/images/rock-garden-bg.jpg);
    background-repeat: repeat;
    background-size:auto;
    background-position: center;
  }


  .page-wrapper {
    background-image: none;
    grid-template-columns: 20%;
    grid-template-rows: 25% 25% 25% 25%;
  }
  
  .intro {
    margin-left: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
  }

  #zen-supporting {
    grid-row: 3/4;
    grid-column: 1/2;
    margin-left: 100%;
  }

  .sidebar {
    margin-top: 70%;
    margin-right: 100%;
    grid-row: 1/2;
    grid-column: 1/2;
    background-color: ;
  }


  .intro header { /* Title */

    grid-area: 1 / 1 / span 1 / span 2;

  }

  .intro .preamble {

    grid-area: 1 / 3 / span 1 / span 2;

  }

  .intro .summary {

    grid-area: 2 / 2 / span 1 / span 2;

  }

  .sidebar {

    grid-area: 3 / 2 / auto / span 1;

  }

  .intro .summary:hover {

    margin-left: -50%;
    margin-right: -50%;
    margin-bottom: auto;

  }  

  .intro .preamble:hover {
    margin-left: -100%;
    margin-right: 0;
    margin-bottom: auto;
    margin-top: 15%;
    text-justify: auto;
  }
  
  .intro header:hover {
      margin-right: -100%;
      margin-bottom: -10%;
      margin-top: 15%;
      text-justify: auto;

  }

  #zen-supporting .explanation:hover {
    margin-right: -100%;
    margin-bottom: -75%;
    text-justify: auto;
    color: black;
    background-image: none;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  #zen-supporting .participation:hover {
    margin-left: -100%;
    margin-bottom: -75%;
    text-justify: auto;
    color: black;
    background-image: none;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  #zen-supporting > *:hover a {
    color: blue;
  }
  
  #zen-supporting .benefits:hover {
    margin-right: -100%;
    margin-top: -25%;
    text-justify: auto;
    color: black;
    background-image: none;
  }
  
  #zen-supporting .requirements:hover {
    margin-left: -100%;
    margin-top: -75%;
    text-justify: auto;
    overflow-y: scroll;
    overflow-x: hidden;
    color: black;
    background-image: none;
  }
  

}




/* Mobile View */

@media only screen and (max-width: 37.5em) {




  .page-wrapper {

    grid-template-columns: 1fr 1fr 1fr;

  }   

  .intro header { /* Title */

    grid-area: 1 / 2 / span 1 / span 1;

  }

  .intro .preamble {

    grid-area: 2 / 2 / span 1 / span 1;

  }

  .intro .summary {

    grid-area: 3 / 2 / span 1 / span 1;

  }

  .sidebar {

    grid-area: 8 / 1 / auto / span 1;

    align-self: right;

  }

  #zen-supporting {

    grid-template-columns: 1fr 1fr 1fr;

    grid-column: 1;

    margin-top: -70px;

    }

    #zen-supporting .explanation {

      grid-area: 4 / 2 / span 1 / span 1;

    }

    #zen-supporting .participation {

      grid-area: 5 / 2 / span 1 / span 1;

    }

    #zen-supporting .benefits {

      grid-area: 6 / 2 / span 1 / span 1;

    }

    #zen-supporting .requirements {

      grid-area: 7 / 2 / span 1 / span 1;

    }      

  }

=======
>>>>>>> e2c1b010d4fc577eb9ad2d94a8feff5c610e7581
/*# sourceMappingURL=styles.css.map */
